<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>vendor/dynamic/recipe-silverstripe-base-site/tests</directory>
        <directory>vendor/dynamic/silverstripe-base-site/tests</directory>
    </testsuite>
</phpunit>
